</section>
<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <h6>"The best way to predict the future is to create it." - Peter Drucker</h6>
        </div>
    </div>
</footer>
</div>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>