<%- include('partials/header') %>

    <div class="container" data-aos="zoom-in-down">
        <div class="visible-part">
            <div class="content-part">
                <h6>Customized Blogs</h6>
                <h2>Create Your Own Blogs </h2>
                <div><a href="/signup"><button class="btn start-btn">Get Started <span><i
                                    class="fa-solid fa-arrow-right"></i></span></button></a></div>
            </div>
            <div class="image-part">
                <img src="/img/bannerimg.png" alt="banner-img">
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="/js/adminPost.js"></script>
</body>

</html>