<%- include('admin_header') %>
    <div class="container">
        <div class="view-user-post">
            <div class="user-posts">
                <a href="/admin/users" class="user-details">View Users</a>
                <a href="/admin/posts" class="post-details">View Posts</a>
            </div>
        </div>
    </div>
<%- include('admin_footer') %>
<script>
    // Prevent a resubmit on refresh and back button
if (window.history.replaceState) {
  window.history.replaceState(null, null, window.location.href);
}
</script>
</body>

</html>