<%- include('admin_header') %>
  <div class="container">
    <h3 class="user-table-head">User Details</h3>
    <div class="user-table">
      <table class="table p-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody id="user-details">

        </tbody>
      </table>
    </div>
  </div>
  </section>
  <footer class="footer-section">
    <div class="container">
      <div class="footer-content">
        <h6>"The best way to predict the future is to create it." - Peter Drucker</h6>
      </div>
    </div>
  </footer>
  </div>
  <div id="delete-post-container" data-aos="zoom-in-down">
    <div class="delete-post">
      <p><span class="delete-head">Are you want to delete post ?</span><span class="close" onclick="closeForm()"> <i
            class="fa-solid fa-xmark"></i></span></p>
      <div class="delete-buttons">
        <button class="btn cancel-btn" onclick="closeForm()">
          Cancel
        </button>
        <button class="btn delete-button" onclick="deleteUser();closeForm()">Delete</button>
      </div>
    </div>
  </div>

  <div id="overlay" onclick="closeForm()">

  </div>
  <script src="/js/adminUsers.js"></script>
  </body>

  </html>