<%- include('admin_header') %>
  <div class="container">
    <h3 class="user-table-head">User Details</h3>
    <div class="user-table">
      <table class="table p-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody id="user-details">

        </tbody>
      </table>
    </div>
  </div>
  <%- include('admin_footer') %>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="/js/adminUsers.js"></script>
    </body>

    </html>