<%- include('admin_header') %>
<div class="container"  data-aos="zoom-in-down">
    <div class="registration">
        <div class="reg-container">
            <h2>Admin_LogIn</h2>
            <form action="/admin/account/login" method="post" class="reg-form">
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" required placeholder="Enter the password">
                <button class="btn reg-form-submit" type="submit">Submit</button>
                <a href="/admin/signup">Don't have an account?Then SignUp here</a>
            </form>

        </div>
    </div>
</div>
<%- include('admin_footer') %>

</body>

</html>