<%- include('admin_header') %>
    <div class="container">
        <div class="blogs">
            <h2>Latest Posts</h2>
            <ul class="blog-list" id="blog-list">

            </ul>

        </div>
    </div>
    <%- include('admin_footer') %>
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script src="/js/adminPost.js"></script>
        </body>

        </html>