<%- include('admin_header') %>
    <div class="container">
        <div class="blogs">
            <h2>Latest Posts</h2>
            <ul class="blog-list" id="blog-list">

            </ul>
            <div class="get-back"><a href="/admin/account/login">Back</a></div>
        </div>
    </div>
    <%- include('admin_footer') %>
        <script src="/js/adminPost.js"></script>
        </body>

        </html>