<%- include('admin_header') %>
    <div class="container">
        <div class="view-user-post">
            <div class="user-posts">
                <a href="" class="user-details">.View Users <i class="fa-solid fa-arrow-right"></i></a>
                <a href="/admin/posts" class="post-details">.View Posts <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
<%- include('admin_footer') %>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="/js/adminPost.js"></script>
</body>

</html>