<%- include('partials/header') %>
    <%- include('searchPage') %>

        <div class="container">
            <div class="blogs">
                <h2>Latest Posts</h2>
                <ul class="blog-list" id="total-blogs">
                    
                </ul>             
            </div>
        </div>
<%- include('partials/footer') %>

            <script src="/js/script.js"></script>
            <!-- <script src="/js/userBlog.js"></script> -->
            </body>

            </html>