<div class="container search-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Choose
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" id="add-post" onclick="addPost()"><i class="fa-solid fa-plus"></i>
                    Add a blog</a></li>
            <li><a class="dropdown-item" href="#">View Your Posts</a></li>
            <li><a class="dropdown-item" href="#">View All</a></li>
        </ul>
    </div>
    <div class="search-bar">
        <form action="/search" method="post">
            <input type="search" id="searchInput" placeholder="search..." name="searchedItem">
        </form>
    </div>

</div>